// =============================================
//              Mixins
// =============================================

// Gives Images a popUp effect
@mixin img-effect($transform: null) {
  transition: $transition;
  transform: $transform;
@content;
}

@mixin font($color:$color-keys){
  font-size: $font-size-large;
  background: $color-neutral-light;
  color: $color;
  height: 65px;
  width: 65px;
  margin-top: 20px;
  margin-right: 5px;
  border-radius: 5px;
}