/* Keyboard */

.key-row {
  display: flex;
  justify-content: center;
}

.chosen {
  background: $color-neutral;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

#btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
}