/* Keyboard */

.key-row {
  display: flex;
  justify-content: center;
}

.correct {
  @include button($bg: $color-neutral);

  &:hover {
    border: 2px solid transparent;
  }
}

.incorrect {
  @include button($bg: $color-lose);

  &:hover {
    border: 2px solid transparent;
  }
}

#btn__reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: $font-size-medium;

  &:hover {
    @include img-effect() {
      background: $color-neutral;
      color: $color-keys-light;
    }
  ;
  }
}

.tries img {
  max-height: 30px;
  max-width: 30px;
}

