/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  height: 100vh;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size-large;
}

.lose h2,
.win h2 {
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
}

button {
  margin: 6px;
  padding: .5rem 1rem;
  color: $color-keys;
  font-size: $font-size-medium;
  background-color: $color-keys-light;
  border-radius: 5px;
  -webkit-transition: $transition;
  -o-transition: $transition;
  transition: $transition;

  &:hover {
    border: 2px solid $color-start;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}